<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>279460417471-1d71dgfnpi2o2c05qt6jo7c0rdekq8p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279460417471-1d71dgfnpi2o2c05qt6jo7c0rdekq8p7</string>
	<key>API_KEY</key>
	<string>AIzaSyBaro7liWexljClwBRPhfsVX0pUIQxZN7c</string>
	<key>GCM_SENDER_ID</key>
	<string>279460417471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>henry.SocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-508f3</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-508f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279460417471:ios:d629cb697df22f47</string>
	<key>DATABASE_URL</key>
	<string>https://social-media-app-508f3.firebaseio.com</string>
</dict>
</plist>